In [1]:
set.seed(888)
# libraries used by different members for the report
library(tidyverse)
library(tidymodels)
library(repr)
library(readxl)
library(rvest)
library(stringr)
library(janitor)
library(lubridate)
library(GGally)
library(ISLR)

# libraries for visualization
library(ggplot2)
library(dplyr)
library(tidyr)
library(patchwork)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org


Attaching package: ‘rvest’


The following object is masked from ‘package:readr’:

    guess_encoding



Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test


Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

<h1> Methods and Results </h1>

In [2]:
players <- read_csv("https://raw.githubusercontent.com/ctrl-tiramisu/dsci100-group-008/refs/heads/main/players.csv", show_col_types = FALSE)
head(players)

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

Since we are going to perform K-NN Regression which predicts a numerical outcome from a set of variables, our predictor variables must

K-NN Regression is a model used to predict a numerical outcome from a set of predictor variables. Here, we are going to perform K-NN regression to predict a player's played hours from the four variables age, subscription status, experience level, and gender. Therefore, since KNN relies on distance calculations and require numerical data, we will first convert some of the categorical variables into "made-up" variables that will represent the variables' categorical values:

* First we are changing the categorical variables into factors:

In [3]:
players_tidy <- players|>
    mutate(
        Age = as.numeric(Age),
        subscribe = as_factor(subscribe),
        experience = as_factor(experience),
        gender = as_factor(gender) )
head(players_tidy)

  experience subscribe
1 Pro        TRUE
2 Veteran    TRUE
3 Veteran    FALSE
4 Amateur    TRUE
5 Regular    TRUE
6 Amateur    TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

* In this step, we will now change the categorical variables into made up numerical values that will represent each the categorical variables' values.

In [12]:
players_numerical <- players_tidy |> 
mutate(subscribe = fct_recode(subscribe, "1" = "TRUE", "2" = "FALSE"),
       experience = fct_recode(experience, "1" = "Amateur", "2" = "Beginner",
                               "3" = "Pro", "4"= "Regular", "5" = "Veteran"),
       gender = fct_recode(gender, "1" = "Male", 
                           "2" = "Female",
                           "3" = "Agender", 
                           "4" = "Non-binary", 
                           "4" = "Other",
                           "4"= "Prefer not to say", 
                           "4" = "Two-Spirited")
       )

players_numerical

#Changing all categorical variables we've converted into dbl data type

players_final <- players_numerical |> 
mutate(experience = as.numeric(experience),
       subscribe = as.numeric(subscribe),
       gender = as.numeric(gender),
       Age = as.numeric(Age) )
head(players_final)

    experience subscribe
1   3          1
2   5          1
3   5          2
4   1          1
5   4          1
6   1          1
7   4          1
8   1          2
9   1          1
10  5          1
11  5          1
12  3          1
13  2          1
14  1          1
15  5          1
16  1          2
17  2          1
18  1          1
19  1          1
20  4          1
21  4          1
22  1          2
23  2          1
24  2          1
25  1          1
26  4          1
27  4          1
28  5          2
29  1          1
30  5          2
⋮   ⋮          ⋮
167 1          2
168 2          2
169 5          1
170 5          2
171 3          2
172 2          2
173 5          1
174 4          2
175 5          1
176 1          1
177 3          2
178 5          2
179 1          1
180 5          1
181 1          2
182 1          1
183 3          2
184 1          1
185 3          2
186 4          2
187 5          1
188 1          1
189 2          1
190 1          2
191 1          1
192 1          1
193 5          2
194 1          2
195 1          2
196 3          1
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
4   23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
5   7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e
6   f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977
7   8e594b8953193b26f498db95a508b03c6fe1c24bb5251d392c18a0da9a722807
8   1d2371d8a35c8831034b25bda8764539ab7db0f63938696917c447128a2540dd
9   8b71f4d66a38389b7528bb38ba6eb71157733df7d1740371852a797ae97d82d1
10  bbe2d83de678f519c4b3daa7265e683b4fe2d814077f9094afd11d8f217039ec
11  7a4686586d290c67179275c7c3dfb4ea02f4d317d9ee0e2cee98baa27877a875
12  4caa42e1b20511552434978171dcf7283fb6eb857eb871327e39bfc328002309
13  4bed6f49b672974f706aa7f020b4f29020326bf594520593557cd381a51559b8
14  3caa832978e0596779f4ee7c686c4592fb6de893925025d25bf26be9a8cd03f5
15  6f9acf8ea9956fe817895c78d10e1e25c11aba335a451e5b0322b073ee5008c4
16  2313a06afe47eacc28ff55adf6f072e7d12b0d12d7cbae29656f9029ec72bb53
17  9db37a1d381697f6c83e3b97b276e38bb9d9c811ba4596edb75d4dbfea6415b0
18  a175d4741dc84e6baf77901f6e8e0a06f54809a34e6b5211159bced346f7fb3e
19  ab1f44f93c3b828f55458971db393052d9711df3e0e7ff69540bfebfcec555ff
20  20ae3f8b5323674fe6e537bc91928841cfc2a00c1b36522fd25370bb6fa89d36
21  bc704ff2bc676dbf48ee41b9e11481c1387bf758ad318f2428f336e3fecc6660
22  200db0417ee70863c7e2a0f214c737476fb86de5869d0b907a077d726357e687
23  f9ac013b2f0bc2bd4928a6a0fc8a0aae8b5c4f2670cf9e18f547b7e72034c965
24  89c8e07d6a2aa102d9cd05086d51b2e41195c9c807dd976a06f4262ff36d0cca
25  119f01b9877fc5ea0073d05602a353b91c4b48e4cf02f42bb8d661b46a34b760
26  5baba1651a0b92788bc0d6dcdf00be64af1cf9f0015bbeed204ddabd1d872e83
27  50cec73a632e4be7b155c3df5165de28b2c5baf092abcb7f509f5645776a56c2
28  f8acd26a5e452b682b9f8b20108caef1ee2e745efe08e95806980bd2388a3fea
29  4b01bce3f141289709e8278b02ba5d2aaa7105d7ccb9c7deb37670a80e332774
30  951e54f7376e2b2f0915e9e3646c701af4a2fe839385b13f9e0084b08f8070bd
⋮   ⋮
167 7096b30972a32029244fc6171f21bc5996b51b8d75df7a94f003dead428988f9
168 42eafe96ed5c1684e3b5cc614d1b01a117173d3ec6898abcf1177d9822bd39f7
169 9ba67e127e4e70d909f6237644bb4674b17bc6ae5c9e735f88cfc50e22b499c6
170 4bfad3613c71ace05644bf210195d9fb0d3d9513753ad2f8a16d1a80699bb906
171 060aca80f8cfbf1c91553a72f4d5ec8034764b05ab59fe8e1cf0eee9a7b67967
172 80afc8e7137de6a232421e926c1e6e64ddeef1d8157c4439746bc00fcf91e8a7
173 af6b2350478c6bd6af97c91c7eed1d121b82676d1d519ef5b6cfa16dd451fe27
174 7b17513f11968feaf6b02977885c436dc2a4549489ca25ef03022f9fbae19d81
175 171d3c323c6430ffe0722c931f4cced5c48935f6804e0ff250964e4c41da55b1
176 55d24216db39c27e1f17cc43d3127cbf8ed76ada6d098202b53ded319855e2c1
177 e1e5b1d36ab7680b6927fd3cb619c2b5373167750f90f7a21bf67b5d9b0fd73f
178 a1e0438d568b9c05a93cadaf99969e4d44794d19dea31edd723cbc916f878c33
179 9955ab948064150d3686ef564389bdc6d6c60bc620a5ce3084b3dec4a7a006a7
180 6b1cdc07fcc1f7ea09509341fd245dd34fdba386f14a493e9107c18604baedc9
181 93efabc9f7de58f44c457bac715cf8f9f44cd88cc574fc02624cac194d2f0ea5
182 42382bb2af563e6979c5b84d288cbb49bb2ef90b1bcf196c2902da4ce20eb7f3
183 f7875ae87a61632030d5c4029ee8cf081be7047b2b4a9c04ab5a706f59786197
184 24d4892c2c3ce11d3e54c3bf31ee218901cac7a2f564911d67424c8fdf0874fe
185 d46bd29a2ed08e3500bd8729085ef4b6f0ca65baf4c756f88b6bedf7a18e0352
186 8e98b6db2053af0bc0e62cd55bcea5a08f23986dec3d02ca520ea039517e6744
187 ba24bebe588a34ac546f8559850c65bc90cd9d51b821581bd6e25cff437a1081
188 e3f0ad9aadd27f3d1d9197e58546d045018daa767675033d9af9a2b74e763739
189 8c9d043ebb3689e679a37bfed30ea96272bcd14689ed2d9fcd68a4ae0c1663bc
190 514ebbaa30f0d162127e065ab780892b7930cf8d75944d5eb09c91c02d6026c7
191 644fe4200c19a73768b3fa598afcbd0948f7557925b7f17166285da23af31cc6
192 b6e9e593b9ec51c5e335457341c324c34a2239531e1890b93ca52ac1dc76b08f
193 71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778b35c5802c3292c87bd
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender Age
1   30.3         Morgan    1       9
2    3.8         Christian 1      17
3    0.0         Blake     1      17
4    0.7         Flora     2      21
5    0.1         Kylie     1      21
6    0.0         Adrian    2      17
7    0.0         Luna      2      19
8    0.0         Emerson   1      21
9    0.1         Natalie   1      47
10   0.0         Nyla      2      22
11   1.6         Lane      2      23
12   0.0         Daniela   1      17
13   1.5         Sarah     2      25
14   0.2         Thatcher  1      22
15   0.0         Niamh     4      17
16   0.0         Quinlan   1      22
17   0.0         Elodie    2      17
18  48.4         Xander    2      17
19   0.5         Marley    1      17
20   0.6         Ryker     1      19
21   0.3         Andy      1      58
22   0.1         Anastasia 2      17
23   1.0         Leah      1      17
24   0.0         Ren       1      17
25   0.7         Hugo      2      21
26   0.6         Kendall   2      28
27   0.0         Iman      1      17
28   0.0         Finn      1      23
29   1.8         Luca      1      23
30   0.1         Vivienne  1      18
⋮   ⋮            ⋮         ⋮      ⋮
167  1.0         Radwan    1      26
168  0.3         Ariana    2      17
169  0.1         Quinton   1      17
170  0.1         Rocco     1      17
171  0.4         Lyra      1      21
172  1.8         Amelia    1      32
173  0.0         Saif      3      20
174  0.0         Balthazar 1      50
175  0.0         Parker    1      17
176  0.3         Joaquim   1      17
177  0.0         Jesse     4      17
178  2.7         Jamie     4      21
179  0.4         Charlie   4      17
180  0.1         Finnian   4      17
181  2.1         Sebastián 1      24
182  0.8         Hunter    2      22
183  0.2         Liam      1      17
184 32.0         Sidney    1      22
185  1.7         Asher     1      17
186  0.1         Sam       1      18
187  0.1         Gabriela  2      44
188  0.0         Jasper    1      17
189  0.0         Lina      2      17
190  0.0         Orion     1      17
191  0.0         Rhys      1      20
192  0.0         Bailey    2      17
193  0.3         Pascal    1      22
194  0.0         Dylan     4      57
195  2.3         Harlow    1      17
196  0.2         Ahmed     4      NA

  experience subscribe
1 1          2
2 2          2
3 2          1
4 3          2
5 4          2
6 3          2
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    1       9
2 Christian 1      17
3 Blake     1      17
4 Flora     2      21
5 Kylie     1      21
6 Adrian    2      17

* Table that shows the equivalencies of the new values based on the original values

<u>Experience:</u>

|Old      |New|
|---------|---|
|Amateur  | 1 |
|Beginner | 2 |
|Pro      | 3 |
|Regular  | 4 |
|Veteran  | 5 |

<u>subscribe:</u>

|Old      |New|
|---------|---|
|TRUE     | 1 |
|FALSE    | 2 |

<u>gender:</u>

|Old                 |New|
|--------------------|---|
|Agender             | 1 |
|Female              | 2 |
|Male                | 3 |
|Non-binary          | 4 |
|Other               | 5 |
|Prefer not to say   | 6 |
|Two=Spirited        | 7 |

[1] 0